* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bga {
  position: relative;
}
.bga::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-image: url('./img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  opacity: 30%;
}
h3 {
  font-family: 'El Messiri', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
}

h5 {
  font-family: 'El Messiri', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 25px;
}

h6 {
  font-family: 'El Messiri', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

p {
  font-family: 'El Messiri', sans-serif;
  font-size: 20px;
}

.had {
  border: 3px solid white;
  position: relative;
}

.had::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #90b7e7;
  z-index: -1;
}

.nbg {
  background-color: #90b7e7;
  width: 100%;
}
.name {
  margin-top: -4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pro {
  width: 15rem;
  height: 15rem;
  border: 3px solid white;

  border-radius: 50%;
  background-image: url('./img/profile2.jpg');
  background-position: center center;
  background-size: cover;
}

.pro-img {
  width: 100%;
  height: 100%;
}

.ftF {
  font-family: 'El Messiri', sans-serif;
  letter-spacing: 4px;
  font-size: 25px;
  text-decoration: underline;
}

.sp {
  letter-spacing: 2px;
}
.sp2 {
  letter-spacing: 1px;
}

.obc {
  border-left: 2px solid gray;
  border-radius: 2px;
}

.obc p {
  letter-spacing: 2px;
}

@media only screen and (max-width: 700px) {
  .name {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
  }
}

/* skills */

.Eda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  color: black;
}

.Eda::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #90b7e7;
  z-index: -1;
}

.otList > li {
  font-family: 'Libre Baskerville', serif;
  padding: 1rem;
}
.InnList {
  padding-left: 3rem;
}

@media screen and (max-width: 700px) {
  .Eda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bor {
    border-bottom: 3px solid white;
    margin-bottom: 2rem;
  }
}

/* skills */

.bottom {
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.bottom::before {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #90b7e7;
  z-index: -1;
}

.fb {
  width: 18rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.fb li a {
  color: black;
  transition: all 0.4s linear;
}

.fb li a:hover {
  transform: scale(1.4);
}

.project {
  display: flex;
}

@media screen and (max-width: 700px) {
  .bottom {
    padding: 2rem;
    border: 3px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    display: flex;
    flex-direction: column;
  }
}

/* project */
.viw {
  border: 3px solid white;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./img/quo.jpeg");
  background-position: center center;
  background-size: cover;
  text-decoration: underline; */
}
